- content_for :javascripts do
  = javascript_include_tag "omega/canvas"

- content_for :stylesheets do
  = stylesheet_link_tag "canvas"

#canvas_controls
  #camera_controls
    = image_tag("/images/camera/reset.png",        :id => "cam_reset")
    = image_tag("/images/camera/pan_left.png",     :id => "cam_pan_left")
    = image_tag("/images/camera/pan_right.png",    :id => "cam_pan_right")
    = image_tag("/images/camera/pan_up.png",       :id => "cam_pan_up")
    = image_tag("/images/camera/pan_down.png",     :id => "cam_pan_down")
    = image_tag("/images/camera/rotate_left.png",  :id => "cam_rotate_left")
    = image_tag("/images/camera/rotate_right.png", :id => "cam_rotate_right")
    = image_tag("/images/camera/rotate_up.png",    :id => "cam_rotate_up")
    = image_tag("/images/camera/rotate_down.png",  :id => "cam_rotate_down")
    = image_tag("/images/camera/zoom_out.png",     :id => "cam_zoom_out")
    = image_tag("/images/camera/zoom_in.png",      :id => "cam_zoom_in")

  #locations_list.entities_container
    %b Locations
    %ul
  #entities_list.entities_container
    %b Entities
    %ul
  #fleets_list.entities_container
    %b Fleets
  #missions_button.canvas_button
    %b Missions

  - show_close ||= false
  - if show_close
    #close_canvas X

  #show_canvas
    canvas

  #axis_controls
    %input#toggle_axis_canvas{:type => "checkbox"} toggle axis
    %input#toggle_grid_canvas{:type => "checkbox"} toggle grid

  .clear_both

#omega_canvas

#omega_entity_container
  #entity_container_close X
  #entity_container_contents

#canvas_select_box
