- content_for :javascripts do
  = javascript_include_tag "vendor/jquery.jplayer.min"
  = javascript_include_tag "vendor/jquery.jplayer.playlist.min"
  = javascript_include_tag "jplayer"

- content_for :stylesheets do
  = stylesheet_link_tag "vendor/jplayer.blue.monday"
  = stylesheet_link_tag "jplayer"

#jplayer_wrapper
  #jquery_jplayer_1.jp-jplayer
  #jplayer_container.jp-audio
    .jp-type-playlist
      #jp_interface_1.jp-interface
        %ul.jp-controls
          %li 
            = link_to "play", "#", :class => "jp-play", :tabindex => "1"
          %li 
            = link_to "pause", "#", :class => "jp-pause", :tabindex => "1"
          %li 
            = link_to "stop", "#", :class => "jp-stop", :tabindex => "1"
          %li 
            = link_to "next", "#", :class => "jp-next", :tabindex => "1"
          %li 
            = link_to "mute", "#", :class => "jp-mute", :tabindex => "1"
          %li 
            = link_to "unmute", "#", :class => "jp-unmute", :tabindex => "1"
        .jp-volume-bar
          .jp-volume-bar-value
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        /<div class="jp-current-time"></div>
        /<div class="jp-duration"></div>
      .jp-playlist{:style => "display: none;"}
        / this empty ul / li is needed for play to work, not sure y
        %ul
          %li
