---
title: The Omegaverse
---
- content_for :javascripts do
  / google recaptcha for new accounts 
  = javascript_include_tag "vendor/google_recaptcha_ajax.js"
  = javascript_include_tag "index"
  = javascript_include_tag "bot" # TODO want to be able to plug different bots in / out

- content_for :stylesheets do
  = stylesheet_link_tag "index"

- content_for :secondary_navigation do
  = link_to "Register", "#", :id => "register_link"
  = link_to "My Account",  "account.html", :id => "account_link"
  \/
  = link_to "Login",    "#", :id => "login_link"
  = link_to "Logout",   "#", :id => "logout_link"

= partial :jplayer
.clear_both

= partial :dialog

#index
  = partial :canvas
  = partial :chat

#login_dialog.dialog_content
  .dialog_row
    Username:
    %input#login_username{:type => "text"}

  .dialog_row
    Password:
    %input#login_password{:type => "password"}

  .dialog_row
    %input#login_button{:type => "button", :value => "login"}

#register_dialog.dialog_content
  .dialog_row
    Username:
    %input#register_username{:type => "text"}

  .dialog_row
    Password:
    %input#register_password{:type => "password"}

  .dialog_row
    Email:
    %input#register_email{:type => "text"}

  .dialog_row
    #omega_recaptcha

  .dialog_row
    By submitting this form, you are agreeing to The Omegaverse 
    = link_to 'Terms of Use', '/wiki/Terms_of_Use'

  .dialog_row
    %input#register_button{:type => "button", :value => "confirm"}

#registration_submitted_dialog.dialog_content
  .dialog_row
    Creating account, you should receive a confirmation email momentarily

#registration_failed_dialog.dialog_content
