- content_for :stylesheets do
  = stylesheet_link_tag "audio"

- content_for :javascripts do
  = javascript_include_tag "ui/audio_controls"

- content_for :audio_control do
  = image_tag("icons/audio-mute.png", :id => "mute_audio")

#audio_list
  - audio_assets.each do |audio|
    - audio_id = audio.gsub(/[\/\.]/, "_")
    - audio_loop_id = audio_id + "_loop"

    = audio_tag(audio, :preload  => "none",
                       :autoplay => false,
                       :controls => false,
                       :id       => audio_id)
    = audio_tag(audio, :preload  => "none",
                       :autoplay => false,
                       :controls => false,
                       :id       => audio_loop_id)
