#navigation
  #navigation_logo
    = link_to image_tag("logo2.png"), "http://omegaverse.info"
  #primary_navigation
    = link_to "Project",  "http://github.com/movitto/omega"
    \/
    = link_to "Wiki",   "http://github.com/movitto/omega/wiki"
    \/
    = link_to "Blog",   "http://blog.omegaverse.info"
    \/
    = link_to "Stats",  "/stats.html", :only_path => false
    .clear_both

  #secondary_navigation
    = yield_content :secondary_navigation
