- content_for :javascripts do
  = javascript_include_tag "pages/account"

- content_for :stylesheets do
  = stylesheet_link_tag "account"

- content_for :secondary_navigation do
  Account Information
  #wiki_user_page
    = link_to "update", "#", :id => "account_info_update"
    = link_to "reset",  "account.html", :id => "account_info_reset"
    = link_to "back",   "index.html", :id => "account_info_back"

.clear_both

#account_logo

#account_info
  #account_details
    #account_info_last_login.account_info_row
      .clear_both

    #account_info_username.account_info_row
      Username:
      %input{:type => "text", :id => "user_username", :disabled => "true"}
      .clear_both

    #account_info_email.account_info_row
      Email:
      %input{:type => "text", :id => "user_email", :disabled => "true"}
      .clear_both

    #account_info_password.account_info_row
      Password:
      %input{:type => "password", :id => "user_password"}
      .clear_both

    #account_info_confirm_password.account_info_row
      Confirm Password:
      %input{:type => "password", :id => "user_confirm_password"}
      .clear_both

  #account_info_ships.game_info
    Ships:
    #account_ships
    .clear_both

  #account_info_stations.game_info
    Stations:
    #account_stations
    .clear_both

  #account_info_badges.game_info
    Badges:
    .clear_both
